@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ubuntu-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/ubuntu-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-v15-latin-regular.woff2") format("woff2"), url("../fonts/ubuntu-v15-latin-regular.woff") format("woff"), url("../fonts/ubuntu-v15-latin-regular.ttf") format("truetype"), url("../fonts/ubuntu-v15-latin-regular.svg#Ubuntu") format("svg");
  /* Legacy iOS */
}
html {
  background-color: #ffffff;
  font-family: "Ubuntu";
  color: #333333;
}

.bg {
  position: fixed;
  z-index: -1;
}

/*# sourceMappingURL=holiday-yachts-global.css.map */
